
 <div class="HomeBanner">
  <img src="http://www.galaxies.com.tw/cn/uploads/2013-07/06/_1373101093_28hg1q.jpg" class="img-responsive" alt="Responsive image"style="width: 1200px; height: 350px;    margin-left: auto;
    margin-right: auto; ">

 </div> 

      <!-- About Galaxies -->

      <div class="span12">
      <div class="About" >
        <h1>About Galaxies</h1>
        <p class="About Galaxies">Caputured the first letter "G" of GALAXY, making the image of the universe like galaxies in green and purple light, a symbole of corporate endless eternity like Tai-Chi astrotech</p>
      </div>
      </div>
      <!-- Example row of columns -->
  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="span7">
          <h2 class="featurette-heading">Background<span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Galaxy Technology Co Ltd (Galaxy Technology Development Company) was established in 2011. Management team holds professional, innovative.</p>
        </div>
        <div class="span5">
          <img class="featurette-image img-responsive" src="http://placehold.it/350x350" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="span5">
          <img class="featurette-image img-responsive" src="http://placehold.it/350x350" alt="Generic placeholder image">
        </div>
        <div class="span7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="span7">
          <h2 class="featurette-heading">Background<span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Galaxy Technology Co Ltd (Galaxy Technology Development Company) was established in 2011. Management team holds professional, innovative.</p>
        </div>
        <div class="span5">
          <img class="featurette-image img-responsive" src="http://placehold.it/350x350" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="span5">
          <img class="featurette-image img-responsive" src="http://placehold.it/350x350" alt="Generic placeholder image">
        </div>
        <div class="span7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>