    <div class="HomeBanner">
     <%= image_tag "about_bg.jpg"%>
    </div>

      <!-- About Galaxies -->

      <div class="span12">
      <div class="About" >
        <h1>About Galaxies</h1>
        <p class="About Galaxies">Caputured the first letter "G" of GALAXY, making the image of the universe like galaxies in green and purple light, a symbole of corporate endless eternity like Tai-Chi astrotech</p>
      </div>
      </div>
      <!-- Example row of columns -->
  <hr class="featurette-divider">

      <div class="row1 featurette">
        <div class="span7">
          <h2 class="featurette-heading">Background<span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Galaxy Technology Co Ltd (Galaxy Technology Development Company) was established in 2011. Management team holds professional, innovative.</p>
        </div>
        <div class="span5">
          <img class="featurette-image img-responsive" src="http://placehold.it/350x350" alt="Generic placeholder image">
        </div>
      </div>

     