
 <div class="HomeBanner">
  <img src="http://www.galaxies.com.tw/en/images/banner_6.jpg" alt="Responsive image"style="width: 1200px; height: 350px;    margin-left: auto;
    margin-right: auto; ">

 </div> 