
 <div class="HomeBanner">
  <img src="http://www.galaxies.com.tw/en/uploads/2013-07/07/_1373177071_75z2y.jpg" alt="Responsive image"style="width: 1200px; height: 350px;    margin-left: auto;
    margin-right: auto; ">

 </div> 
         <div class="span6">
                 <div class="span6">