<script type="text/javascript">
	
	$("#recruitment").click(ajax_request);
</script>
 <div class="HomeBanner">
  <img id="recruitment" src="http://www.galaxies.com.tw/en/uploads/2013-07/07/_1373177107_v19qch.jpg" onclick="javascript:location.href='http://app.ymow.net'" class="img-responsive" alt="Responsive image"style="width: 1200px; height: 350px;    margin-left: auto; margin-right: auto; ">

 </div> 
