<div class="span12">
 <div class="HomeBanner">
  <img src="http://placehold.it/1200x525"style="width: 1200px; height: 200px;">
 </div>
</div>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<!-- <div class="row">
  <div class="col-xs-12">.col-xs-12 </div>
<p></p>
  </div> -->