<footer class="footer">
  <%= render_list :class => "nav nav-pills pull-right" do |li|
      li << link_to( "facebook", "#")
      li << link_to( "twitter", "#")   
      li << link_to( "weibo", "#")
      #li << link_to( "Link4", "#")
  end %>
  <p class="copyright">Copyright @2012 <%= Setting.app_name %> All rights reserved.</p>

</footer>