<div class="navbar navbar-fixed-top ">
      <div class="navbar-inner top ">
        <div class="container">

         <a href="http://www.galaxies.com.tw/en/home.php"><img src="/assets/logo.png" class="img-responsive" alt="Responsive image"   width="350" height="30" border="0"></a>
 <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        
        
   
       <div class="nav-collapse collapse navbar-responsive-collapse">
          <div class="nav pull-right" >
              <%= render_list :class => "nav" do |li|
                li << link_to("Home","/")
                li << link_to("About","/pages/about")
                li << link_to("Product","/pages/product")
                li << link_to("Quality Control","/pages/quality")
                li << link_to("Recuitment","/pages/recruitment")
                li << link_to("Contact","/pages/contact")
              end %>
              
           <!--    <%= render :partial => "common/user_nav"%> -->
          </div>
        </div>
    </div>
  </div>

  <%= yield :submenu %>

</div>